<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%- include('../components/navbar')%>
	<a href="/users">kembali</a>
	<H1>User Detail</H1>
	<ul>
		<li>Id user : <%=user[0].id%></li>
		<li>Name : <%=user[0].name%></li>
		<li>Email : <%=user[0].email%></li>
	</ul>
</body>
</html>