<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<%- include('components/navbar')%>
	<h1>Hello World! </h1>
	<h2><%=kelas.date%></h2>
	<h3>Kelas <%= kelas.nama%></h3>
</body>
</html>